<h1>Edit</h1>

<%= form_tag("/things/#{@thing.id}/update") do %>
    <p>Name</p>
    <input name="name" value="<%= @thing.name %>"></input>
    <p>Category</p>
    <input name="category" value="<%= @thing.category %>"></input>
    <input type="submit" value="update"></input>
<% end %>