/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 0;
}

li {
    list-style: none;
}

header {
    /*position: fixed;*/
    font-size: 15px;
    height: 50px;
    background-color: rgba(234, 97, 125 ,0.8);
    width: 100%;
}

.container {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

header ul {
    float: right;
    padding: 0;
    margin: 0;
}

.header-left {
    float: left;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
}

.header-left a {
    display: block;
    color: white;
}

.header-right li {
    background-color: #ea617d;
    float: left;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    letter-spacing: 3px;
}

.header-right a {
    display: block;
    color: white;
}

.btn {
    opacity: 0.5;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    line-height: 55px;
}

.thing {
    width: 45%;
    height: 100px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    background-color: #38b48b;
}

.clothes {
    background-color: #4c6cb3;
}

.book {
    background-color: #d3a243;
}


.filter-item {
    background-color: #fff;
    color: #323a45;
    cursor: pointer;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    margin: 10px 5px 0 0;
    padding: 8px 16px;
    display: inline-block;
    transition: all .3s;
}

.filter-item.active {
    background: #009ca8;
    color: #fff;
    cursor: default;
}